@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Unica77 LL';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/assets/fonts/Unica77LLWeb-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Unica77 LL';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/src/assets/fonts/Unica77LLWeb-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Unica77 LL';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/src/assets/fonts/Unica77LLWeb-Italic.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Unica77 Mono LL';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/assets/fonts/Unica77MonoLLWeb-Regular.woff2') format('woff2');
  }

  html {
    font-family: 'Unica77 LL', sans-serif;
  }
}
