/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

#app {
  width: 100%;
  margin-top: 60px;
}

@font-face {
  font-family: 'ABCMaxiRound';
  src: url('./fonts/ABCMaxiRoundVariable.ttf') format('truetype'); /* Adjust the path as necessary */
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ABCMaxiRound', sans-serif; /* Fallback to sans-serif if the custom font fails to load */
}

.container {
  width: calc(100% - 40px); /* Consider padding */
  max-width: 100%; /* Prevent any overflow */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
}



.container p {
  font-size: 1em; /* Font size for p elements inside container class */
}

.table {
  background-color: white; /* Set the background color for the table */
  border: 1px solid #000; /* Add border to the table */
  border-collapse: separate; /* Ensure borders are not collapsed to allow border-radius */
  border-radius: 10px; /* Add rounded corners to the table */
  table-layout: fixed; /* Ensure fixed table layout */
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #000; /* Add border to table headers and data cells */
  font-size: 0.9em; /* Font size for table headers and data cells */
  /* text-align: left;  Ensure text is always left-aligned */
  overflow: hidden; /* Ensure content does not overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflow content */
  white-space: nowrap; /* Prevent text from wrapping */
}


.table th {
  cursor: pointer; /* Indicate that table headers are clickable for sorting */
}

.sort-icon {
  margin-left: 5px;
  font-size: 0.8em;
}

/* Additional specific styles */
.search-input {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 20px;
  width: 25%;
  box-sizing: border-box;
}

.left-align {
  text-align: left; /* Ensure text is always left-aligned */
}

.text-body.left-align {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px; 
  white-space: normal;
  width: 100%;
}


.col-number { width: 50px; }
.col-title { width: 400px; }
.col-started { width: 150px; }
.col-state { width: 50px; }
.col-status { width: 50px; }
.col-type { width: 50px; }
.col-details { width: 50px; }




.chart-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Align items in a line */
  flex-wrap: nowrap;
  width: 100%; /* Ensure flex container takes full width */
  gap: 20px;
}

.flex-item {
  flex: 1; /* Allow flex items to grow and fill the space */
  min-width: 50%; /* Override minimum width restrictions */
  padding: 0;
  box-sizing: border-box;
}

.chart-container {
  width: 100%;
  height: 400px; /* Fixed height */
  position: relative;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item {
    flex-basis: 100%; /* Each item takes full width on smaller screens */
  }
}

.pie-chart-container {
  width: 400px;  /* Set the width as needed */
  height: 400px; /* Set the height to maintain aspect ratio */
  margin: auto;  /* Center the chart if desired */
}


.search-inputs {
  display: flex;
  align-items: flex-start; /* Aligns items inside the container to the start of the cross axis */
  margin-bottom: 20px;
}

.search-input {
  margin-right: 10px; /* Adds spacing between inputs */
  height: auto; /* Adjust height as necessary */
}

.search-number {
  flex: 0 1 10%; 
}

.search-title {
  flex: 0 1 45%; 
  align-self: stretch; 
}